body {
    text-align: center;
    font-family: sans-serif;
}
#catList {
    display: block;
    text-align: center;
}
#catList>li {
    display: inline-block;
    color: dodgerblue;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
}
.catBox {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 10px;
}
.catPic {
    clear: both;
    width: inherit;
    cursor: pointer;
}
.count {
    float: right;
}
.catName {
    float: left;
}
