div.hello {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    
    /*example */
    padding: .3em .8em;
    border: 1px solid #446d88;
    background: #58a linear-gradient(#77a0bb, #58a);
    border-radius: .2em;
    box-shadow: 0 .05em .25em gray;
    color: white;
    text-shadow: 0 -.05em -.05em #335166;
    font-size: 125%; /* assuming a 16px parent font size*/
    line-height: 1.5;
}

button {
        text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
 /*example */
    padding: .3em .8em;
    border: 1px solid #000;

    border-radius: .2em;
    box-shadow: 0 .05em .25em gray;
    color: white;
    text-shadow: 0 -.05em -.05em #335166;
    font-size: 125%; /* assuming a 16px parent font size*/
    line-height: 1.5;
}
hr {
    height: .5em
    background: currentColor;
}
button.cancel {
    background-color: #c00;
}

button.ok {
    background-color: #6b0
}
.callout {
    position: relative;
}

.callout {
    content: "";
    position: absolute;
    top: -.4em; left: 1em;
    padding: .35em;
    background: inherit;
    border: inherit;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}
